<mat-card>
  <h4>Sách mượn quá hạn</h4>
<mat-list>
  <mat-list-item id="wrapper" *ngFor="let sachMuon of sachMuons ">
      <div class="divimg">      
        <a href='/book/{{sachMuon.idBook}}'>
          <img src="{{sachMuon.imgURL}}">
        </a>
      </div>
      <div class="content">
        <h4>{{sachMuon.bookName}}</h4>
        <h5>{{sachMuon.userName | async}}</h5>
        <h5>Số ngày đã mượn : {{sachMuon.days}} ngày</h5>
        <p>Ngày mượn : {{sachMuon.ngayMuon | date: 'HH:mm:ss dd-MM-yyyy'}}</p>        
      </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  </mat-list>
  <button mat-flat-button (click)='khoaTaiKhoan(sachMuons)'>Khóa các tài khoản</button>
</mat-card>
