<div class="my-app">
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<mat-grid-list cols="3">
    <mat-grid-tile>
      <div class="grid-content">
        <p>Giới thiệu</p>
        <p>Thư viện online. Cập nhật sách liên tục.</p>
        <p>Thư viện online. Cập nhật sách liên tục.</p>
        <p>Thư viện online. Cập nhật sách liên tục.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="grid-content">
        <p>Hỗ trợ</p>
        <p><mat-icon>error</mat-icon> Báo lỗi ứng dụng</p>
        <p><mat-icon>content_paste</mat-icon> FAQs</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-content">
            <p>Liên hệ</p>
            <p><mat-icon>email</mat-icon> Email: ptitpiglet2@gmail.com.</p>
            <p><mat-icon>phone</mat-icon> Phone: 01245876869</p>
            <p><mat-icon>message</mat-icon> Skype: </p>
          </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>